# 장애인콜택시 대기시간 예측
## 단계2. 탐색적 데이터 분석

## 0.미션

* 1.개별 변수 분석하기
    * 앞서 생성된 각 변수들 특히 추가로 생성한 변수들에 대해서 단변량 분석을 수행합니다. 
    * 시각화 : Histogram, Boxplot, Barplot
    * 통계량 : 기초 통계량.
    * [옵션] 날짜 요소 관점을 추가해서 EDA 를 수행하시오.
* 2.Features와 Target의 관계 분석하기
    * Target은 숫자입니다.
    * 숫자형 feature들과 Target 과의 관계
        * 한꺼번에 상관관계를 확인하는 방법을 이용하여 분석합시다.
    * 범주형 feature들과 Target
        * sns.barplot, t-검정, 분산분석 등을 이용하여 분석합니다.
    * Target과 관련이 높은 feature와 그렇지 않은 feature를 정리해 봅시다.

## 1.환경설정

### (1) 라이브러리 불러오기

* **세부 요구사항**
    - 기본적으로 필요한 라이브러리를 import 하도록 코드가 작성되어 있습니다.
    - 필요하다고 판단되는 라이브러리를 추가하세요.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as spst
import joblib

# 필요하다고 판단되는 라이브러리를 추가하세요.

### (2) 데이터 로딩
* 주어진 데이터셋
    * [1.전처리 단계]에서 저장한 파일 : data1pkl
* 다음의 두가지 방법 중 하나를 선택하시오.
    * 1) 로컬 수행(Ananconda)
    * 2) 구글콜랩

#### 1) 로컬 수행(Anaconda)
* project 폴더에 필요한 파일들을 넣고, 본 파일을 열었다면, 별도 경로 지정이 필요하지 않습니다.

In [ ]:
path = ''

#### 2) 구글 콜랩 수행

* 구글 드라이브 연결

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
path = '/content/drive/MyDrive/project/'

#### 3) 데이터 읽어오기

In [3]:
file1 = 'data1.pkl'

In [4]:
data1 = joblib.load(file1)

## 2.EDA : 1단계 - 개별 정보 분석하기

* **세부요구사항**
    * 의미 있는 변수들을 7개 이상 선정하고 단변량분석을 수행합니다. 
    * [옵션] 각 변수에 대한 탐색시, 요일별, 월별, 연도별로 나눠서도 확인해보세요.
    * 단변량 분석을 위한 코드를 함수로 작성하고 수행하세요.

### (1) 단변량 분석 함수 작성
* **세부요구사항**
    * 코드가 반복되므로, 시각화와 기초통계량을 한꺼번에 처리하는 함수를 생성합시다.
    * 포함되어야 할 내용 : 
        * 기초통계량
            * 숫자 : .describe()
            * 범주 : 범주별 빈도수/비율
        * 시각화

In [5]:
# 숫자형 변수 분석
data1.describe()

,driving_car,reception,boarding,avg_waiting,avg_fee,avg_distance,week,year,month,weekday,day,temp_max,temp_min,rain(mm),humidity_max(%),humidity_min(%),sunshine(MJ/m2),is_holiday,boarding_rate
count,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000
mean,418.755221,3926.209860,3284.401232,40.307942,2304.267717,9253.437864,26.635741,2018.498459,6.521054,3.000342,15.724409,18.077405,9.414618,3.356761,79.104074,41.119411,13.497693,0.040739,0.841580
std,133.747019,1509.649338,1249.080267,14.100434,107.278144,1019.367122,15.062136,2.291007,3.448394,1.999743,8.798567,10.706655,10.784649,12.597807,14.024176,16.401564,6.941039,0.197720,0.052181
min,132.000000,527.000000,462.000000,17.200000,2131.000000,7672.000000,1.000000,2015.000000,1.000000,0.000000,1.000000,-11.200000,-18.500000,0.000000,29.000000,7.000000,0.000000,0.000000,0.596996
25%,278.000000,2162.000000,1779.000000,29.600000,2228.000000,8521.000000,14.000000,2016.000000,4.000000,1.000000,8.000000,9.000000,0.500000,0.000000,70.000000,29.000000,8.240000,0.000000,0.805956
50%,454.000000,4721.000000,3933.000000,38.200000,2257.000000,8821.000000,27.000000,2018.000000,7.000000,3.000000,16.000000,19.700000,10.000000,0.000000,82.000000,39.000000,12.680000,0.000000,0.845660
75%,522.000000,5110.000000,4241.000000,48.600000,2401.000000,10154.000000,40.000000,2020.000000,10.000000,5.000000,23.000000,27.400000,18.900000,0.300000,90.000000,51.000000,18.580000,0.000000,0.877722
max,1413.000000,6182.000000,5189.000000,96.100000,2733.000000,14136.000000,53.000000,2022.000000,12.000000,6.000000,31.000000,39.400000,30.400000,178.900000,100.000000,98.000000,30.790000,1.000000,0.968844

In [ ]:
# 범주형 변수 분석

### (2) 숫자형 변수
* 이제 숫자형 변수들에 대해서 단변량 분석을 수행합니다.

### (3) 범주형 변수
* 범주형 변수들에 대해서 단변량 분석을 수행합니다.

## 3.EDA 2단계 - feature와 target 비교 분석하기

* **세부요구사항**
    * 숫자 feature --> target
        * 전체 상관계수 구하고 시각화(heatmap)해서 파악해봅시다.
        * 상위 n개의 feature와 target의 상점도를 확인해봅시다.
    * 범주 feature --> target
        * 시각화 : 평균 비교 barplot
        * 수치화 : t-test, anova
    * 이번 단계에서는 함수 생성은 선택사항 입니다.

### (1) 숫자 feature --> Target
* 전체 상관계수 시각화(heatmap)
* 상위 n개 산점도 그리기

#### 1) 전체 상관계수 시각화

#### 2) 산점도

### (2) 범주 feature --> Target

* 범주형 변수들과 target 간의 관계를 살펴봅시다.
    * 시각화 : 평균비교 barplot
    * 수치화 : t-검정, anova

## 4.변수 정리

* Target과 관련성이 높은 feature와 그렇지 않은 feature를 정리합니다.
* 여기서의 판단은 다소 주관적입니다. 조금 정확하지 않아도 괜찮습니다.
* 다음 단계 모델링에서 관련이 적은 변수는 포함시키거나, 제외를 고려할때 활용합니다.

* 강한 관계의 변수

* 중간(약한) 관계의 변수

* (거의) 관계가 없는 변수

## 5.데이터 저장

* **세부 요구사항**
    * 혹시 데이터에 변경이 발생할 수 있으니, 저장해 놓읍시다.
    * joblib.dump를 이용하시오.
    * 저장할 파일 이름 : data2.pkl